#page-title {
  margin-left: 50px;
  margin-top: 20px;
}

.list-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;

  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}

.list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ul-container ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
  border-left: none;
}

.ul-container li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
}

.input-container input {
  width: 100%;
  height: 30px;
  border-left: none;
  border-right: none;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.liDiv {
  display: flex;
  align-items: center;
  gap: 5px;
}

.list-footer {
  text-align: center;
  background: #f6f6f6;
  color: gray;
  height: 50px;
}

.disappear {
  display: none;
}

.lineThrough {
  text-decoration: line-through;
}

#clearButton {
  height: 50px;
  width: 300px;
}
